*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:  hsl(0, 0%, 95%);
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 100%;
    max-width: 800px;
    color: hsl(0, 0%, 95%);
    padding: 10px;
    display: flex;
    line-height: 18px;
}
.container div{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    padding: 20px;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
h2{
    /* margin-bottom: 10px; */
    font-size: 25px;
    text-transform: uppercase;
    color:  hsl(0, 0%, 95%);
}
button{
    background-color:  hsl(0, 0%, 95%);
    border: none;
    /* margin-top: 40px; */
    padding: 10px;
    border-radius: 20px;
    max-width: 100px;
}
img{
    /* margin-bottom: 40px; */
    width: 50px;
}
.container .colum1{
    background-color: hsl(31, 77%, 52%);
    border-radius: 5px 0 0 5px;
}
.container div:nth-child(1) button{
    color: hsl(31, 77%, 52%);
}
.container div:nth-child(2) button{
    color: hsl(184, 100%, 22%);
}
.container div:nth-child(3) button{
    color: hsl(179, 100%, 13%);
}
.container .colum2{
    background-color: hsl(184, 100%, 22%);
}
.container .colum3{
    background-color: hsl(179, 100%, 13%);
    border-radius:0 5px 5px 0;
}
.btn{
    position: absolute;
    background-color: darkblue;
    width: 50px;
    text-align: center;
    color: white;
    top: 0;
    padding: 5px;
}
.btn a{
    color: white;
    text-transform: capitalize;
    text-decoration: none;font-size: 22px;
}